{% extends "index.html" %}
{% load static %}

{% block title %}Создание{% endblock %}

{% block style %}<link rel="stylesheet" href="{% static 'main/css/create.css' %}">{% endblock %}

{% block content %}
<h1>Процесс создания Мультфильмов</h1>
<div class="content-container">
    <div class="text-image-container">
        <div class="text-block">
            От идеи до аниматики</br><br>
От искры вдохновения до первых набросков, процесс создания мультфильма начинается с уникальной идеи, которая затем превращается в концептуальный набросок. Эти первые шаги являются основой для всего творческого процесса. Сценарий приходит следующим, превращая истории и диалоги в основу будущего фильма. Сторибординг визуализирует эти идеи, создавая последовательность сцен и ключевые моменты. Затем, дизайнеры берут эстафету, создавая облик персонажей и мира, в котором они живут. Аниматика служит мостом между сторибордингом и анимацией, позволяя нам предвидеть, как будет выглядеть финальный продукт.
        </div>
        <div class="image-container">
            <img src="{% static 'main/images/1-6.jpg' %}" alt="Image">
        </div>
    </div>
    <div class="content-container">
        <div class="text-image-container">
            <div class="image-container-2">
                <img src="{% static 'main/images/2.jpg' %}" alt="Image">
            </div>
            <div class="text-block-2">
                От анимации до финального штриха </br></br>
                Анимация придает жизнь персонажам, добавляя движение и эмоции к ранее неподвижным изображениям. Озвучивание переносит эту жизнь на новый уровень, вдыхая в персонажей голос и характер благодаря таланту актеров. Музыка и звуковые эффекты добавляют глубину и атмосферу, делая мир более полным и реалистичным. И наконец, монтаж и цветокоррекция объединяют все элементы вместе, доводя каждый кадр до совершенства. Этот процесс не только технический, но и творческий, и мы рады поделиться его магией с вами на Tooniverse.
            </div>
        </div>
        
{% endblock %}