{% extends "index.html" %}
{% load static %}

{% block title %}Студии{% endblock %}

{% block style %}<link rel="stylesheet" href="{% static 'main/css/studios.css' %}">{% endblock %}

{% block content %}
<h1>Основные студии нашего времени</h1>
<div class="content-container">
    {% for studio in studios %}
    <div class="text-image-container">
        <div class="text-block">
            {{ studio.name }}<br><br>
            {{ studio.description }}
        </div>
        <div class="image-container">
            <img src="{{ studio.logo.url }}" alt="{{ studio.name }}">
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}