h1{
    font-size: 64px;
    color: white;
    text-align: center;
    font-weight: 600;
    padding-top: 40px;
    }    

.content-container {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-left: 70px;
    padding-bottom: 20px;
}

.text-image-container {
    display: flex;
    align-items: center;
}

.text-block {
    flex: 0.7;
    text-align: left;
    font-size: 32px;
    color: white;
}

.image-container {
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container img {
    max-width: 700px;
    height: auto;
}